body{
	 background: black; position: absolute;width: 100%;height: 100%;margin: 0 0;
}

#canvas{
	 margin: 0 0; 	background:rgba(255,255,255,0); z-index:-999;position: absolute; width: 100%;height: 100%; left: 0%;top: 0%; 
}
#div1{
	position: absolute;width: 60%;height: 100%;margin: 0 0;left: 20%;
}
#div2{
	 background: #DB393C;z-index: -3;  position: absolute;width: 100%;height: 10%;margin: 0 auto;left: 0%;
}
#div3{
	 position: absolute;width: 20%;height: 100%;margin: 0 0; left: 0;z-index: -1;
}
#div4{
	position: absolute;width: 20%;height: 100%;margin: 0 0; left: 80%;z-index: -1; 
}








